* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(#141e30, #243b55);

}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);

}

.login h2 {
	color: #fff;
	margin-bottom: 30px;
}

.login .login_box {
	position: relative;
	width: 100%;
}

.login .login_box input {
	outline: none;
	border: none;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 30px;
	color: #fff;
	font-size: 16px;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}

.login .login_box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	color: #fff;
	pointer-events: none;
	transition: all 0.5s;
}


.login .login_box input:focus+label,
.login .login_box input:valid+label {
	top: -20px;
	color: #03e9f4;
	font-size: 12px;
}

.login a {
	position: relative;
	padding: 10px 20px;
	color: #03e9f4;
	text-decoration: none;
	transition: all 0.5s;
}

.login a:hover {
	color: #fff;
	border-radius: 5px;
	background-color: #03e9f4;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login a span {
	position: absolute;
}

.login a span:first-child {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;

	background: linear-gradient(to right, transparent, #03e9f4);

	animation: move1 1s linear infinite;

}

.login a span:nth-child(2) {
	right: 0;
	top: -100%;
	width: 2px;
	height: 100%;
	background: linear-gradient(transparent, #03e6f4);

	animation: move2 1s linear 0.25s infinite;
}

.login a span:nth-child(3) {
	right: -100%;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, transparent, #03e9f4);

	animation: move3 1s linear 0.5s infinite;
}

.login a span:last-child {
	left: 0;
	bottom: -100%;
	width: 2px;
	height: 100%;
	background: linear-gradient(#03e9f4, transparent);
	animation: move4 1s linear 0.75s infinite;
}


@keyframes move1 {
	0% {
		left: -100%;

	}

	50%,
	100% {
		left: 100%;
	}
}

@keyframes move2 {
	0% {
		top: -100%;

	}

	50%,
	100% {
		top: 100%;
	}
}

@keyframes move3 {
	0% {
		right: -100%;

	}

	50%,
	100% {
		right: 100%;
	}
}

@keyframes move4 {
	0% {
		bottom: -100%;

	}

	50%,
	100% {
		bottom: 100%;
	}
}